@media (min-width: 0px) {
    body * {
        font-size: 14px;
        line-height: 21px;
    }

    h1 {
        font-size: 22px;
        line-height: 28.6px;
        margin: 0 0 20px 0;
    }

    h2 {
        font-size: 18px;
        line-height: 23.4px;
        margin: 0 0 10px 0;
    }

    p {
        margin: 20px 0;
    }

    header article, main article, footer article {
        max-width: 272px;
    }

    header article {
        padding: 10px 0 6px 0;
    }

    header article.header-logo img {
        width: 144px;
        height: 40px;
    }

    main article {
        padding: 24px;
    }

    main article figure {
        margin: 15px 0;
        width: 272px;
        height: 206px;
    }

    main article figure img {
        height: 100%;
        margin: 0 -100%;
    }

    main.hello p.join-title {
        font-size: 14px;
        line-height: 21px;
    }

    input, button {
        border-radius: 8px;
        height: 45px;
        margin: 5px 0 0 0;
    }

    input {
        padding: 0 20px;
        width: 230px;
    }

    button.submit {
        width: 270px;
    }

    button.submit img {
        margin-bottom: -2px;
    }

    main.blog div.post {
        margin: 0 0 15px 0;
    }

    main.blog div.post section.header {
        height: 159px;
    }
    main.blog div.post section.body {
        padding: 15px;
    }
    main.blog div.post section.description {
        font-size: 16px;
        line-height: 24px;
        min-height: 72px;
    }

    main.blog div.post section.action {
        margin: 15px 0 5px 0;
        font-size: 14px;
        line-height: 16.8px;
    }

    footer {
        padding-bottom: 10px;
    }

    footer article {
        margin: 0 auto;
        padding: 12px 24px;
    }

    footer article.social-media a {
        margin: 0 18px;
    }

    footer article.text p {
        margin: 0;
    }

    footer article.links a {
        font-size: 11px;
        line-height: 16.5px;
        margin: 0 8px;
    }

    footer article.links a:first-child {
        margin-left: 0;
    }

    footer article.links a:last-child {
        margin-right: 0;
    }
}