@import url(colors.css);
@import url(0.css);
@import url(480.css);
@import url(768.css);
@import url(992.css);
@import url(1200.css);

body {
    margin: 0;
}

body * {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #4B4B4B;
}

h1 {
    font-weight: 600;
    color: #252323;
    text-align: center;
}

h2 {
    font-weight: 600;
    color: #252323;
}

a {
    color: #3366FF;
    text-decoration: none;
}

p {
    margin: 20px 0;
}

header,
main,
footer {
    min-width: 320px;
}

header article {
    margin: 0 auto;
    color: #4B4B4B;
}

header article figure {
    text-align: center;
}

header article.header-logo img {
    width: 144px;
    height: 40px;
}

main article {
    margin: 0 auto;
    padding: 24px;
}

main.hello {
    background-color: #EEF0F2;
    text-align: center;
}

main article figure {
    display: block;
    margin: 15px 0;
    overflow: hidden;
    border-radius: 8px;
}

main article figure img {
}

input, button {
    border-radius: 8px;
    height: 45px;
    margin: 5px 0 0 0;
}

input {
    padding: 0 20px;
    border: solid 1px #C0C0C0;
}

button.submit {
    background-color: #3366FF;
    border: solid 1px #3366FF;
    color: #fff;
    vertical-align: center;
}

button.submit img {
    margin-bottom: -2px;
}

main.blog article {
    margin: 0 auto;
    padding-bottom: 0;
}

main.blog div.post {
    border-radius: 8px;
    border: solid 1px #C0C0C0;
    overflow: hidden;
}

main.blog div.post section.header {
    height: 159px;
}
main.blog div.post section.body {
    padding: 15px;
}
main.blog div.post section.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

main.blog div.post section.action {
    margin: 15px 0 5px 0;
    font-size: 14px;
    line-height: 16.8px;
}

footer {
    text-align: center;
}

footer article {
    margin: 0 auto;
    padding: 12px 24px;
}

footer article.social-media a {
    margin: 0 18px;
}

footer article.text p {
    margin: 0;
}

footer article.links a {
    margin: 0 8px;
}

footer article.links a:first-child {
    margin-left: 0;
}

footer article.links a:last-child {
    margin-right: 0;
}