body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 16px;
    color: #252323;
    line-height: 24px;
}

.font-size-14 {
    font-size: 14px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

header, main, footer
header article, main article, footer article {
    min-width: 320px;
}

header article {
    margin: 0 auto;
    padding: 1vh 0;
    color: #4B4B4B;
}

header article figure {
    text-align: center;
}

main article {
    margin: 0 auto;
    padding: 3vh 0;
}

header article.header-logo img {
    width: 144px;
    height: 40px;
}

main.hello {
    background-color: #EEF0F2;
    text-align: center;
}

main article figure {
    margin: 3vh 0;
}

main article figure img {
    max-width: 100%;
}

main article h1 {
    text-align: center;
}

input, button {
    border-radius: 8px;
    height: 45px;
    margin: 5px 0;
}

input {
    padding: 0 20px;
    border: solid 1px #C0C0C0;
}

button.submit {
    background-color: #3366FF;
    border: solid 1px #3366FF;
    color: #fff;
    padding: 0 40px 0 20px;
    vertical-align: center;
}

button.submit img {
    margin-bottom: -2px;
}

button.submit:after {
    background-color: #3366FF;
    border: solid 1px #3366FF;
    color: #fff;
    padding: 0 30px;
}

a {
    color: #3366FF;
    text-decoration: none;
}

main.blog div.post {
    border-radius: 8px;
    border: solid 1px #C0C0C0;
    margin: 8px;
    overflow: hidden;
}

main.blog div.post section.header {
    height: 159px;
}
main.blog div.post section.body {
    padding: 5px;
}

main.blog div.post h2, main.blog div.post section.description, main.blog div.post section.action {
    margin: 15px;
}

footer {
    text-align: center;
}

footer article {
    margin: 0 auto;
}

.bgcFFC800 {
    background-color: #FFC800;
}

.bgc2E68C0 {
    background-color: #2E68C0;
}

.bgcEA1542 {
    background-color: #EA1542;
}

.bgc1D4ED8 {
    background-color: #1D4ED8;
}

@media (min-width: 320px) {
    header article, main article, footer article {
        max-width: 320px;
    }
    main.blog div.post {
        margin: 8px 0;
    }
    input, button {
        display: block;
        width: 100%;
    }
}

@media (min-width: 480px) {
    header article, main article, footer article {
        max-width: 460px;
    }
    main.blog div.post {
        margin: 8px;
    }
    input, button {
        display: inline;
    }
}

@media (min-width: 768px) {
    header article, main article, footer article {
        max-width: 640px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    header article, main article, footer article {
        max-width: 1024px;
    }
}